APP_MODE = dev | prod | test

MONGO_URI_DEV = 
MONGO_URI_PROD = 
MONGO_URI_TEST = 

JWT_SECRET = 
JWT_EXPIRES_IN

REFRESH_SECRET = 
REFRESH_EXPIRES_IN

GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 
GOOGLE_REDIRECT_URI = 
# LLM Provider (openai | anthropic | groq)
LLM_PROVIDER=anthropic
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GROQ_API_KEY=