APP_MODE = development

MONGO_URI_LOCAL = 
MONGO_URI_PROD = 
MONGO_URI_TEST = 

FRONTEND_URL_LOCAL = 
FRONTEND_URL_PROD = 


JWT_SECRET = 

GEMINI_API_KEY = 

YOUTUBE_API_KEY = 

HUGGING_FACE_KEY = 

AI_API_KEY = 

GROQ_API_KEY = 

GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 
GOOGLE_REDIRECT_URI = 

REFRESH_COOKIE_NAME=refreshToken
REFRESH_COOKIE_MAX_AGE=604800000   
REFRESH_COOKIE_SECURE=false        # true in prod
REFRESH_COOKIE_SAMESITE=lax

REFRESH_TOKEN_EXPIRES_IN=7d